/* Fluid grid containers that requiere */
.card-grid {
display: grid-flex;
grid-tamplete.columns: repeat(auto-fit, minmax(245px, 4fr));
gap: 10px;
flex-wrap: wrap;
}
/* Style the header */
.@media (min-width: 110px) {
  box-sizing: border-box;
  grid: auto auto auto auto;
}
/* Style the header */
*{
  box-sizing: border-box;
  grid: auto;
}
body {
background-color:#000000;
  margin: 3px;
  border: 0px;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
/* Style the top navigation bar */
.topnav + menu > li{
  overflow: hidden;
  background-color: #333ddd;
}
/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd000;
  color: #000000;
}
body{
background-color:#836FFF; 
margin:3px;
border:0px;
}
header{
margin:0px;
border:1px;
padding:2%;
background-color:#808080;
float:center;
}
caption{
margin:0px;
border:1px;
padding:5%;
background-color:#0000ff;
}
section{
margin:0px;
border:1px;
padding:5%;
background-color:#00ff00;
}
aside + span{
margin:2px;
border:2px;
padding:25%;
background-color:#c0c0c0;
}
.f1 > fieldeset+legend{
display:table-row;
padding:40%;
margin:2px;
border:2px;
font:center;
}
div .f1 > form + label{font align:center; border:1px; color:#0000ff; font face:"monospace";
}
div .f1 > form + input{font align:center; border:1px; color:#0000ff; font face:"monospace";
}
aside + .span > .nova{
background-color:#FFFFFF;
float:center;
display:table-row;
position:horizontal;
margin:10%;
border:1%;
padding:24%;
font:#000000, face:"monospace", aligne:center;
}
h3{
float:center;
position:top;
font:#000000 justify center;
}
div.f2 + .nova{
background-color:#DDDFFD;
display:block-flex;
position:middle;
margin:4%;
border:0%;
padding:40%;
}
.nova figure img{
background-color:#6495ED;
margin:1%;
border:0%;
padding:none;
width:100px;
height:175px;
position:middle;
display:block-flex;
image-orientation:vertical
}
.nova figure img figcaption{
background-color:#F0FFFF;
margin:1%;
border:0%;
padding:none;
display:block-flex;
width:100px;
height:20px;
font-size:14px, face:"monospace", color:#000000;
}
.rodape{
background-color:#9ddfff;
float:top;
display:table-row;
position:fixed;
margin:1%;
border:1%;
padding:none;
font:#000000, size:14px, face:"monospace";
}
.footer{
position:fixed;
background-color: #F1F1F2;
text-align: center;
padding: 10px;
margin: 3px;
border: 0px;
font-size:14px, face:"monospace", color:#000000;
}
